
header {
    background-color: orangered ;
}


main {
    padding: 16px;
}

h1 {
    color: green;
}

body {
    border: none;
    margin: none;
}

footer {
    padding: 24px 30px;
    background-color: lime;
}

img {
    height: 200px;
}
a {
    color: green;
    text-decoration: none;
}

nav {
    padding: 16px;
}

nav a {
    color: antiquewhite;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto) ;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

